<h1>Reservas</h1>

<%= form_with url: search_reservas_path, method: :get do %>
  <%= label_tag :query, "Buscar Reserva" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Buscar" %>
<% end %>

<table>
  <thead>
  <tr>
    <th>Data de Início</th>
    <th>Data de Fim</th>
    <th>Hóspede</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <% @reservas.each do |reserva| %>
    <tr>
      <td><%= reserva.data_inicio %></td>
      <td><%= reserva.data_fim %></td>
      <td><%= reserva.hospede.nome %></td>
      <td>
        <%= link_to 'Mostrar', reserva %>
        <%= link_to 'Editar', edit_reserva_path(reserva) %>
        <%= link_to 'Excluir', reserva, method: :delete, data: { confirm: 'Tem certeza?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Nova Reserva', new_reserva_path %>
