<h1>Bem-vindo ao Sistema de Pousada</h1>

<% if user_signed_in? %>
  <p>Olá, <%= current_user.email %>!</p>
  <% if current_user.role == "admin" %>
    <h2>Administração</h2>

    <h3>Gerenciamento de Hóspedes</h3>
    <ul>
      <li><%= link_to 'Adicionar um hóspede', new_hospede_path %></li>
      <li><%= link_to 'Remover um hóspede', hospedes_path %></li>
      <li><%= link_to 'Listar todos os hóspedes', hospedes_path %></li>
      <li><%= link_to 'Buscar um hóspede', search_hospedes_path %></li>
    </ul>

    <h3>Gerenciamento de Funcionários</h3>
    <ul>
      <li><%= link_to 'Adicionar um funcionário', new_funcionario_path %></li>
      <li><%= link_to 'Remover um funcionário', funcionarios_path %></li>
      <li><%= link_to 'Listar todos os funcionários', funcionarios_path %></li>
      <li><%= link_to 'Buscar um funcionário', search_funcionarios_path %></li>
    </ul>


    <h3>Gerenciamento de Quartos</h3>
    <ul>
      <li><%= link_to 'Adicionar um quarto', new_quarto_path %></li>
      <li><%= link_to 'Remover um quarto', quartos_path %></li>
      <li><%= link_to 'Listar todos os quartos', quartos_path %></li>
      <li><%= link_to 'Buscar um quarto', search_quartos_path %></li>
    </ul>

    <h3>Gerenciamento de Conta</h3>
    <ul>
      <li><%= link_to 'Criar uma conta de usuário', new_user_registration_path %></li>
      <li><%= link_to 'Remover uma conta de usuário', users_path %></li>
      <li><%= link_to 'Listar todas as contas', users_path %></li>
      <li><%= link_to 'Buscar uma conta', search_users_path %></li>
    </ul>

    <%= link_to 'Sair', destroy_user_session_path, method: :delete %>

  <% elsif current_user.role == "funcionario" %>
    <h2>Bem-vindo, Funcionário</h2>
    <ul>
      <h3>Gerenciamento de Reservas</h3>
      <li><%= link_to 'Fazer uma reserva', new_reserva_path %></li>
      <li><%= link_to 'Listar todas as reservas', reservas_path %></li>
      <li><%= link_to 'Buscar uma reserva', search_reservas_path %></li>
      <li><%= link_to 'Remover uma reserva', reservas_path %></li>
    </ul>

  <% elsif current_user.role == "hospede" %>
    <h2>Bem-vindo, Hóspede</h2>
    <ul>
      <li><%= link_to 'Solicitar Reserva', new_reserva_path %></li>
      <li><%= link_to 'Ver Minhas Reservas', reservas_path %></li>
      <li><%= link_to 'Listar todos os quartos', quartos_path %></li>
    </ul>
  <% end %>

<% else %>
  <%= link_to 'Entrar', new_user_session_path %>
<% end %>
