<p style="color: green"><%= notice %></p>

<% content_for :title, "Hospedes" %>

<h1>Hospedes</h1>

<div id="hospedes">
  <% @hospedes.each do |hospede| %>
    <%= render hospede %>
    <p>
      <%= link_to "Show this hospede", hospede %>
    </p>
  <% end %>
</div>

<%= link_to "New hospede", new_hospede_path %>
<%= link_to "Voltar para a página principal", root_path %>

